.container{
    position: relative;
}
.item{
    font-weight: 450;  
    text-align: left;  
    font-size: 10px;  min-height: 15px;  
    background-color: #52a2f3;  
    padding: 5px 15px;  color: #ffffff;  
    overflow: hidden;  
    position: relative;  
    cursor: pointer;
    border-radius: 7px;;
}

.column{
    text-align: center;
}

.borderparent{
    position:absolute;
    height: 100%;
    width:100%;
}